<div class="panel ext-panel-reverse ext-panel-side comp-jobs-side">
  <div class="panel-heading">
    <a herf="#" class="title">
      <%= fa_icon 'angle-double-left' %>
      My Jobs
    </a>
  </div>
  <div class="panel-body">
    <div class="this-job">
      <div class="description">
        <p>Job Description</p>
        <p><%= job.title %></p>
      </div>
      <ul class="meta">
        <li>Job Req <%= job.id %></li>
        <li><%= job.user_position %></li>
        <li><%= job.status %></li>
      </ul>
      <div class="details-link">
        <button class="btn btn-lg" data-toggle="tooltip" data-placement="top" title="View/Edit Job Details">
          <%= fa_icon 'gear' %>
        </button>
      </div>
    </div>
    <div class="section-separator"></div>
    <div class="other-jobs">
      <div class="description">
        <p>Other Jobs</p>
      </div>
      <ul>
        <% job.other_jobs.each do |j| %>
          <li><%= j.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
