<div class="row">
  <div class="col-md-3">
    <%= render partial: 'jobs/item_side', locals: {job: @job} %>
  </div>

  <div class="col-md-9">
    <div class="headline">
      <div class="title element">Candidates</div>
      <div class="filters element">
        <form role="select_status" class="form-inline">
          <div class="form-group">
            <label for="filterJobStatus">Job Status</label>
            <select id="filterJobStatus" name="" class="form-control">
              <option value="">Interviewing</option>
              <option value="">Interested</option>
              <option value="">Filtered</option>
            </select>
          </div>
        </form>
      </div>
    </div>

    <div class="list">
      <table class="table table-hover ext-table-with-img">
        <tr>
          <% ["Candidate", "Last Interview", "Candidate Status", "Interview Status", "Actions"]
          .each_with_index do |title, i| %>
            <th class="<%= (i == 0 || i == 4) ? "" : "hidden-xs hidden-sm" %>">
              <%= title %>
              <a href="#" class="btn btn-xs" role="button">
                <%= fa_icon "sort-desc" %>
              </a>
            </th>
          <% end %>
        </tr>
        <%= render partial: 'item_as_row', collection: @candidates  %>
      </table>
    </div>
  </div>
</div>

