<!DOCTYPE html>
<html>
  <head>
    <title>DemoHiring</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="navbar navbar-default app-nav hidden-xs hidden-sm"><%= render partial: 'layouts/nav' %></div>
    <div class="container app-content">
      <%= yield %>
    </div>
  </body>
</html>
